.container {
  max-width: 1240px !important;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

.bgshadow {
  position: absolute;
  width: 1200px;
  height: 500px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 6.19%,
    rgba(0, 0, 0, 0) 54.63%
  );
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hr__line {
  width: 330px;
  height: 2px;

  background: linear-gradient(
    90deg,
    #ea4335 19.83%,
    #fbbc05 65%,
    #34a853 82.29%,
    #4285f4 100%
  );

}

.instagram {
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    #f9ed32 0%,
    #ee2a7b 36%,
    #d22a8a 44%,
    #8b2ab2 60%,
    #1b2af0 83%,
    #002aff 88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}


.gradient-border-mask {
  position: relative;
  padding: 15px 20px;
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  color: radial-gradient(
      230.93% 230.93% at 102.01% 2.03%,
      #f9ed32 0%,
      #ee2a7b 36%,
      #d22a8a 44%,
      #8b2ab2 60%,
      #1b2af0 83%,
      #002aff 88%
    )
    border-box;

  background: radial-gradient(
      230.93% 230.93% at 102.01% 2.03%,
      #f9ed32 0%,
      #ee2a7b 36%,
      #d22a8a 44%,
      #8b2ab2 60%,
      #1b2af0 83%,
      #002aff 88%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}